<div class="headingbox">
    <div style="width: 7%;" >
  <a href="#">
        <img src="../assets/CGILOGO.png" alt="Go to Home" width="100%"></a></div>
  
  <div class="heading" >
  
    <h1>Electronic Form Request System</h1></div>
  </div>
  
<div style="text-align: center;">
    <button class="btn btn-primary buttonStyle"  type="submit" (click)="generate()" >Submit</button>
</div>

<div style="height:480pt;margin-left: 3%;width:94%;" id="draftEditorApplicationContainerElement" class="intervieScreen"></div>

