<ngx-spinner
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="headingbox">
  <div style="width: 7%;" >
<a href="http://localhost:4200/home">
      <img  src="../assets/CGILOGO.png" alt="Go to Home" width="100%"></a></div>

<div class="heading" >

  <h1 >Electronic Form Request System</h1></div>
</div>



<pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              style="display: block;"
  ></pdf-viewer>