#submit{
    margin:auto;
    align-self: center;
    background-color: #B71C1C;
    color: white;
}
.homeButton{
    text-align: center;
}
.headingbox{
    width: 94%;
    margin-left:3%;
    padding: 10pt;
    background-color:#B71C1C;
    font-family: serif;
    display: flex;
    /* border-radius: 10px; */
}

.heading{
    text-align: center;
    color: white;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
}
